@font-face {
	font-family: 'DroidSerifRegular';
	src: url('../fonts/droid-sans/droid-sans.eot');
	src: url('../fonts/droid-sans/droid-sans.eot') format('embedded-opentype'), url('../fonts/droid-sans/droid-sans.woff2') format('woff2'), url('../fonts/droid-sans/droid-sans.woff') format('woff'), url('../fonts/droid-sans/droid-sans.ttf') format('truetype'), url('../fonts/droid-sans/droid-sans.svg#DroidSerifRegular') format('svg');
}
