@font-face {
	font-family: 'DosisRegular';
	src: url('../fonts/dosis/dosis.eot');
	src: url('../fonts/dosis/dosis.eot') format('embedded-opentype'), url('../fonts/dosis/dosis.woff2') format('woff2'), url('../fonts/dosis/dosis.woff') format('woff'), url('../fonts/dosis/dosis.ttf') format('truetype'), url('../fonts/dosis/dosis.svg#DosisRegular') format('svg');
}