/* ---- Forms ---- */
button
input
textarea
table.ui-datepicker-calendar
	font-family 'DosisRegular'

button[type="submit"]
button[type="reset"]
input[type="submit"]
input[type="reset"]
	font-size 20px !important

.error
.error-contactform
	color rojo_google

.input
	color gris_texto
	border none
	box-sizing()
	box-shadow(none)
	display table
	margin 0
	padding 0.5em
	position relative
	width 95%
	transition(all 0.3s ease-in-out)
	z-index 2
	
	&:hover
	&:focus
		outline none
		color azul_twitter


.input-group
	border 1px solid gris_claro
	border-collapse separate
	border-radius(5px)
	box-sizing()
	display table
	margin 0.5em auto
	overflow hidden
	padding 0
	transition(all 0.3s ease-in-out)

	&:hover
	&:focus
		border 1px solid azul_twitter
		box-sizing()
		box-shadow( 0px 1px 1px rgba(0, 0, 0, 0.075) inset unquote(",") 0px 0px 8px rgba(102, 175, 233, 0.6))
		color azul_twitter
		outline 0 none

		
.input-group-addon
	background gris_claro
	display table-cell
	min-width 40px
	padding 0 0.3em
	text-align center
	vertical-align middle
	width 1%
	white-space nowrap

.screen-reader-response
.success_msg
	color esmeralda
