@media print
	body
		background none

	header
		a[href]
		a[href]:before
		a[href]:after
			display none
		h1, h2
			text-align center
		h1
			font-size 1.5em
		h2
			font-size 1.2em

		h1:before, h2:before
		nav
			display none

	footer
		display none