/* Colores nuevos */
turquesa = #1abc9c
esmeralda = #2ecc71
azul_twitter = #3498db
amatista = #9b59b6
azul_asfalto = #34495e

verde_mar = #16a085
verde_neferteris = #27ae60
azul_feisbuc = #2980b9
morado_wisteria = #8e44ad
medianoche = #2c3e50

amarillo_flor = #f1c40f
carrot = #e67e22
rojo_ladrillo = #e74c3c
gris_nube = #ecf0f1
gris_concreto = #95a5a6

naranja = #f39c12
naranja_fanta = #d35400
rojo_google = #c0392b
plateado = #bdc3c7
gris_absesos = #7f8c8d

/* Variables de colores viejos */
azul_google = #4285F4
blanco = #eee
blanco_grisaceo = #EBEAE8
blanco_lila = #F3E2F2
blanco_lila_logo = #FFE9FF
blanco_normal = #F6F7F2
blanco_transparente = rgba(255,255,255,0.5)
celeste_twitter = #4DA3C2
dorado = #BA934E
gris_texto = #7C7C7A
gris_bottom = #E1D3EC
gris_claro = #DADAD0
gris_lila_middle = #816699
gris_lindo = #A8A7B0
gris_oscuro_letra = #636361
gris_oscuro_logo = #F3E2F2
gris_top = #E2D2EC
lila = #9C8DAC
marron_claro = #68512E
marron_normal = #402F15
marron_oscuro = #302310
morado_bottom = #6B167E
morado_claro = #BB72D3
morado_oscuro = #540A6D
morado_primario = #8600AF
morado_top = #3C0838
naranja_claro = #F2B65C
naranja_primario = #FB9900
naranja_oscuro = #B7720B
negro = #222
negro_re_transparente = rgba(0,0,0,0.25)
negro_transparente = rgba(0,0,0,0.5)
verde_claro = #A6E27A
verde_primario = #65B031
verde_oscuro = #49891B

/* Funciones */
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('alpha(opacity=' + round(n * 100) + ')')
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(opacity=' + round(n * 100) + ')')
background-size()
	background-size arguments
	-o-background-size arguments
	-ms-background-size arguments
	-moz-background-size arguments
	-webkit-background-size arguments
border-radius()
	border-radius arguments
	-o-border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
box-shadow()
	box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
box-sizing()
	box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
box-shadow_lindo()
	box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-o-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-ms-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-moz-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
	-webkit-box-shadow 0px 1px 1px 0px rgba(255,255,255,0.5) inset, 0px -15px 15px 0px rgba(0,0,0,0.25) inset
box-shadow_texto()
	box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-o-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-ms-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-moz-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-webkit-box-shadow 0px -1px 0px rgba(0,0,0,0.25)
column-count()
	column-count arguments
	-o-column-count arguments
	-ms-column-count arguments
	-moz-column-count arguments
	-webkit-column-count arguments
column-gap()
	column-gap arguments
	-o-column-gap arguments
	-ms-column-gap arguments
	-moz-column-gap arguments
	-webkit-column-gap arguments
column-rule()
	column-rule arguments
	-o-column-rule arguments
	-ms-column-rule arguments
	-moz-column-rule arguments
	-webkit-column-rule arguments
display_flex()
	display flex
	display -webkit-flex
flex()
	flex arguments
	-webkit arguments
perspective()
	perspective arguments
	-o-perspective arguments
	-ms-perspective arguments
	-moz-perspective arguments
	-webkit-perspective arguments
perspective-origin()
	perspective-origin arguments
	-o-perspective-origin arguments
	-ms-perspective-origin arguments
	-moz-perspective-origin arguments
	-webkit-perspective-origin arguments
transform-style()
	transform-style arguments
	-o-transform-style arguments
	-ms-transform-style arguments
	-moz-transform-style arguments
	-webkit-transform-style arguments
text-shadow()
	text-shadow arguments
	-o-text-shadow arguments
	-ms-text-shadow arguments
	-moz-text-shadow arguments
	-webkit-text-shadow arguments
text-shadow_lindo()
	text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-o-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-ms-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-moz-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
	-webkit-text-shadow 0px -1px 0px rgba(0,0,0,0.25)
transform()
	transform arguments
	-o-transform arguments
	-ms-transform arguments
	-moz-transform arguments
	-webkit-transform arguments
transition()
	transition arguments
	-o-transition arguments
	-ms-transition arguments
	-moz-transition arguments
	-webkit-transition arguments
/*Animaciones*/

@keyframes agrandador
	0%
		transform rotate(0deg)
	5%
		transform rotate(20deg)
	10%
		transform rotate(-20deg)
	15%
		transform rotate(0deg)
	100%
		transform rotate(0deg)


@-o-keyframes agrandador
	0%
		-o-transform rotate(0deg)
	5%
		-o-transform rotate(20deg)
	10%
		-o-transform rotate(-20deg)
	15%
		-o-transform rotate(0deg)
	100%
		-o-transform rotate(0deg)

		
@-ms-keyframes agrandador
	0%
		-ms-transform rotate(0deg)
	5%
		-ms-transform rotate(20deg)
	10%
		-ms-transform rotate(-20deg)
	15%
		-ms-transform rotate(0deg)
	100%
		-ms-transform rotate(0deg)

		
@-moz-keyframes agrandador
	0%
		-moz-transform rotate(0deg)
	5%
		-moz-transform rotate(20deg)
	10%
		-moz-transform rotate(-20deg)
	15%
		-moz-transform rotate(0deg)
	100%
		-moz-transform rotate(0deg)


@-webkit-keyframes agrandador
	0%
		-webkit-transform rotate(0deg)
	5%
		-webkit-transform rotate(20deg)
	10%
		-webkit-transform rotate(-20deg)
	15%
		-webkit-transform rotate(0deg)
	100%
		-webkit-transform rotate(0deg)


/*Personalizadas*/
@import "normalize.styl"
@import "icomoon.styl"
@import "fuentes.styl"
@import "fancybox.styl"
@import "buttons.styl"
@import "styles-rtl.styl"
@import "styles.styl"
@import "tables.styl"
@import "datepicker.styl"
@import "forms.styl"
@import "destacado.styl"
@import "promocion.styl"
@import "estructura.styl"
@import "print.styl"